@import "variaveis.less";
@breakpointsMobile: ~"(max-width: 767px)";
@breakpointsTablet: ~"(min-width: 768px) and (max-width: 1023px)";

.marginBottom8 {
    margin-bottom: 8px;
}

.fontSize14 {
    font-size: 14px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: @corDeFundo;
    color: @corDosTextos;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;

    @media @breakpointsMobile {
        max-width: 70%;
        background-color: red;
    }

    @media @breakpointsTablet {
        max-width: 80%;
        background-color: yellow;
    }
}

header {
    padding: 24px;

    .profile-avatar {
        display: block;
        margin: 0 auto 24px;
        border-radius: 50%;
        height: 96px;
        width: 96px;
    }
}

.profile-bio {
    text-align: center;


    &-name {
        font-size: 16px;
        .marginBottom8();
    }

    &-subtitle {
        .fontSize14();
        .marginBottom8();
    }

    &-description {
        .fontSize14();
        opacity: .7;
    }
}